body {
  background-color: #EEF4FA;
  font-family: Palatino, serif;
}

#title_band {
  background-color: #25BEFF;
  padding-top: 30px;
  padding-bottom: 30px;
  color: black;
  text-align: center;
  border-style: solid;
  border-width: thick;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
  /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
